<!DOCTYPE html>
<html lang="pt_BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="shortcut icon" href="icons/icone_api.png" type="image/x-icon">
    <link rel="stylesheet" href="css/home.css">
</head>
<body>
    <%- include('includes/messages') %>
    <main>
        <form action="login" method="post">
            <input type="text" name="login" id="" placeholder="Login">
            <input type="password" name="senha" id="" placeholder="Senha">
            <input type="submit" value="OK">
        </form>
    </main>
</body>
</html>